<div class="container text-center d-flex justify-content-center">

    <form action="" method="POST">
        <div class="m-4">
            <h1 class="text-3xl">¡Los productos se agregaron a tu pedido!</h1>

            <h3 class="mt-3">Regresa a WhatsApp para confirmar tu pedido.</h3>

            <input type="text" class="form-control mt-3" name="numberWA" placeholder="50488115544">
            <h5 class="mt-4 blockquote-footer">Por favor ingresa tu numero de telefeno con el cual usas whatsapp para redireccionarte correctamente.</h5>

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class=" mt-2 btn btn-success">VOLVER A WHATSAPP</button>
            </div>
            
        </div>
    </form>

    </div>